.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-button {
  cursor: pointer;
  border: 2px solid #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  margin: 15px 10px 15px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #009e63;
  }
}

.edit-form label {
  margin-right: 10px;
  color: #fff;
  font-weight: bold;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;

  &:read-only {
    opacity: 0.5;
  }
}

.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  gap: 10px;
}

.welcome-user {
  display: flex;
  color: #fff;
  padding: 30px 0 15px 0;
  margin: 0;
  font-size: 1.2em;
}
